# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# System Files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Build output (if you're using a build process)
dist/
build/

# Logs
*.log
